page-consignment-in{
    .button-full{
        padding: 9vw; 
    }
}

page-product-view , page-consignment-in {
    .name{
        color:#d65a5a !important;
    }
    .gridScroll{
        position: fixed;
        z-index: 999;
    }
    .hiddenBackButton{
        .back-button {
            display: none !important;
        }
    }
    .fa-lg {
        font-size: 23px;
    }
    .black{
        background-color: black;
    }
    .fab-up{
        bottom: 45px!important;
        position: fixed;
    }
    .red{
        color:red;
    }
    .width33{
        width: 33px; 
    }
    .inputHeader{
        width: auto;
        float: left;
    }
    .font16{
        font-size: 16px;
    }
    .price{
        font-size: 18px;
        font-weight: bold;
    }
    .amount{
        font-size: 19px;
        color: #5d5d5d;
    }
    .heart{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .qty{
        min-width: 40px;
        //padding: 6px 45% 0px;
        font-size: 20px;
        display: inline-block;
        max-width: 52px;
        text-align: center;
        border: none;
        height: 30px;
    }
    .padTop5{
        padding-top: 5px !important;
    }
    .min-height30{
        color: #616161;
        min-height: 30px;
    }

    .no-padding-top{
        padding: 2px 5px 5px 5px!important;
    }
    .lightRed{
        color:red;
        font-size: 25px;
    }
    .selectList95{
        min-width: 95px;
    }
    .selectList50{
        min-width: 50px;
    }
    .footerColor{
        background: #fbfbfb;
    }
    .padding{
        padding: 5px;
    }
    /*@media screen and (orientation: portrait) {*/  
    ion-grid{padding-top: 0px;} 
    .portrait{
        img{
            height: 110px;
            width: auto;
        }
        .cardForPortrait{
            width: 100%; 
            min-height: 106px;
            background: #fff;
            border-bottom: 1px solid #e8e8e8;
        }
        .columnForGrid50{
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .columnForGrid100{
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;   
        }
        .row{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 5px;
        }
        .imgBox{
            margin: 10px; 
        }
    }
    /*@media screen and (orientation: landscape) {*/
    .landscape{
        img{
            max-height: 128px;
            max-width: 100%;
            //padding-top: 20px;
        }
        .card1 {
            margin: 10px 0px 0px 0px ;
            width: 100%; 
            border-radius: 2px;
            min-height: 106px;
            background: #fff;
        }
        ion-card img {
            height: 100% !important;
        }
        .imgBox{
            display: table-cell;
            height: 130px;
            margin: 5px;

        }
        .column {
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            border-bottom:1px solid #EFEFEF;
        }
        .cartTitle{
            display: block !important;
            margin: 2px 0 2px;
            padding: 0px 0 0px 0;
            font-size: 1.8rem;
            line-height: 1.2;
            color: #222;
            height: 6em;
            overflow: hidden;
        }
        .rowForLandscape{
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-wrap: wrap;
            display: flex;
            width: 100%;  
            margin-bottom: 1px;
        }
        .margin10{
            //  margin: 10px;
        }
        .col100{
            -webkit-flex: 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;   
            min-height: 130px;
        }
        .padTop5{
            padding-top: 5px;
        }
        .lineHeight{
            line-height: 1.55;
        }
        /*        @media only screen and (max-width: 600px) {
                    .column {
                        -webkit-flex: 0 0 50%;
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                    }
        
                }*/
    } 

    .fontWidth{
        font-weight: bold;
    }
    .card-content-md{
        padding: 0px;

    }
}
.footerCateg{
    line-height: 2;
    /*background: white;*/
}
img{
    margin: 0 auto;
}
.border{
    border: 1px solid gray;
    border-radius: 6px;
    margin:0px !important;
}
.headerLogo{
    position: absolute;
    top: 6px;
    left: 40%;
    height: 40px;
}
.relative{
    position: relative;
}

.redColor{
    color:#488aff;
    font-weight: bold;
}
.radius{
    border-radius: 4px;
}
.radiusLeft{
    border-radius: 4px 0px 0px 4px;
}
.radiusRight{
    border-radius: 0px 4px 4px 0px;
}
.gray{
    color:#636363;
}
.no-margin{
    margin: 0px !important;
}
ion-content.scroll{
    top: 0px !important;
}

.dispalyMode{
    margin: 4px;
    height: 35px;
    border: 1px solid gray;
}
.borderForMode{
    background: #efeff0;
    min-height: 70px;
}
.active{
    border: 2px solid #00b1c3;
}