
<ion-header>
    <ion-navbar color="black" >
        <button ion-button icon-only menuToggle >
                <ion-icon name="menu" color='yellow'></ion-icon>
        </button>
        <img src="assets/imgs/bst.jpg" (click)="onClickImage('https://www.bstgroup.com.au')" alt="" class='headerLogo'/>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list no-margin color="lightGray">
        <ion-list-header no-margin class="font16 fontWidth">
            {{usageData.selectedConsignment.Name}}
        </ion-list-header>
    </ion-list>

    <ion-list padding>
        <!--*ngIf="isManualLogin"-->
        <ion-item >
            <ion-label color="primary">Job ID <span class="red" *ngIf="userInfo && userInfo['JobIDForce']">*</span></ion-label>
            <ion-input select-all placeholder="ID" #focusInput [(ngModel)]="usageData['jobID']" (keyup.enter)="redirect($event.keyCode)"></ion-input>
        </ion-item>

        <ion-grid>
            <ion-row >
                <ion-col col-12>
                    <button ion-button full color="red" class="radius"  (click)="buttonClick()">Save Job ID</button>
                </ion-col>
                <ion-col col-12>
                    <button ion-button  full class="radius" (click)="openBarCode()">Scan Job ID</button>
                </ion-col>
            </ion-row>
<!--            <ion-row *ngIf="!isManualLogin">
                <ion-col col-12 >
                    <button ion-button  full class="radius" (click)="openBarCode()">Scan Job ID</button>
                </ion-col>
            </ion-row>-->
        </ion-grid>
        <div padding text-center *ngIf="jobIDErr">
             <ion-badge color="danger"> Please Enter a Job ID </ion-badge>
        </div>
    </ion-list>
</ion-content>
