.qty{
    border: none;
    text-align: center;
    width: 50px;
    line-height: 2;
}
.always-modal .modal-wrapper{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: unset !important;
    top: unset !important;
    .ion-page{
        margin:0 auto;
        position: relative;
        top: 20%;
        width: 75%;
        height: 45%
    }
}