
<ion-header class="scroll">
    <ion-navbar color="black" class='relative' [ngClass]="{'hiddenBackButton':searchBar}">
        <ion-buttons *ngIf="searchBar">
            <button ion-button (click)="dismiss()" showWhen="android" [ngClass]="{'inputHeader':searchBar}">
                    <ion-icon padding-top name="md-close"></ion-icon>
            </button>
            <button ion-button (tap)="dismiss()" showWhen="ios" [ngClass]="{'inputHeader':searchBar}">
                    <ion-icon padding-top name="md-close" ></ion-icon>
            </button>
        </ion-buttons>

        <ion-searchbar select-all #searchbar style="width: 90%;" class="floatRight" *ngIf="searchBar && !defaultSearch"  [(ngModel)]="myInput"
                       [showCancelButton]="shouldShowCancel"
                       (ionInput)="searchProduct($event)"
                       (ionCancel)="onSearchCancel($event)" 
                       (keyup.enter)="closeKeybord($event.keyCode)"></ion-searchbar>

        <ion-searchbar select-all #searchbar placeholder="search the Entire Product list" style="width: 90%;" class="floatRight" *ngIf="searchBar && (orderdirect*1) && defaultSearch"  [(ngModel)]="myInput"
                       [showCancelButton]="shouldShowCancel"
                       (ionInput)="searchAllProduct($event)"
                       (ionCancel)="onSearchCancel($event)"
                       (keyup.enter)="closeKeybord($event.keyCode)"></ion-searchbar> 
        <button ion-button icon-only menuToggle (click)="openMenu()" *ngIf="!searchBar && default">
                <ion-icon name="menu" color='yellow'></ion-icon>
        </button>
        <img *ngIf="!searchBar" src="assets/imgs/bst.jpg" alt="" (click)="onClickImage('https://www.bstgroup.com.au/')" class='headerLogo'/>
            <button ion-button float-right icon-only color='black' (click)="gotoSearch()"  *ngIf="!searchBar">
            <ion-icon name="search" color='red'></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content fullscreen="" class="scroll" [header-scroller]= 'searchBar' hide-fab>
    <ion-grid class="black gridScroll"  >    
        <ion-row *ngIf="!isManualLogin">
            <ion-col col-6>
                <button class="no-margin radius" ion-button full margin-top color="red" (click)="submitProductByScan()">{{sub}}</button>
            </ion-col>
            <ion-col col-6 *ngIf="sacnType != 'true'">
                     <button class="no-margin radius" ion-button full margin-top  (click)="addProductByBarcode()">Scan</button>
            </ion-col>
            <ion-col col-6 *ngIf="sacnType == 'true'">
                     <ion-item class='textbox focusBlue'>
                    <ion-input select-all type="text" #focusInput placeholder="Scan Barcode Here" [(ngModel)]="laser" (keyup.enter)="addProductByLaser($event.keyCode)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(isManualLogin && products && products.length)">
            <ion-col col-6>
                <button class="no-margin radius" ion-button full margin-top color='red' (click)="submitProduct()">{{sub}}</button>
            </ion-col>
            <ion-col col-6 *ngIf="sacnType != 'true'">
                     <button class="no-margin radius" ion-button full margin-top  (click)="addItemByBarcode()">Scan</button>
            </ion-col>
            <ion-col col-6 *ngIf="sacnType == 'true'">
                     <ion-item  class='textbox focusBlue'>
                    <ion-input select-all type="text" #focusInput placeholder="Scan Barcode Here" [(ngModel)]="laser" (keyup.enter)="addItemByLaser($event.keyCode)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(orderdirect*1) && userDetails.addanyproduct && (userDetails.addanyproduct== '1' || userDetails.addanyproduct== 'true') ">
            <ion-col no-padding>
                <ion-item no-lines class="black" *ngIf="(orderdirect*1) && userDetails.addanyproduct== '1' || userDetails.addanyproduct== 'true' " >
                    <ion-label style="color: white;">Search All Products</ion-label>
                    <ion-toggle checked="true" [(ngModel)]="defaultSearch" (ngModelChange)="changeOrderDirect()"></ion-toggle>
                </ion-item> 
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-spinner name="bubbles" class="center spinSearch" *ngIf="spinForSearch"></ion-spinner>
    <ion-list no-margin no-lines color="lightGray" [ngClass]="{marginTop:(orderdirect*1)}">
        <ion-list-header no-lines no-margin class="font16 fontWidth" *ngIf="selectedConsignment.Name">
            {{selectedConsignment.Name}}
        </ion-list-header>
    </ion-list>
    <div class="center">
        <ion-spinner name="circles"  *ngIf="spin">
        </ion-spinner>
    </div>
    <ion-list padding>
        <div *ngIf="isManualLogin">
            <div padding text-center *ngIf="products && products.length==0 || !isFound">
                 <ion-badge color="danger">Product Not Found </ion-badge>
            </div>
        </div>

        <ion-grid  *ngIf="products && products.length" [ngClass]="{'portrait': displayMode == 'Portrait', 'landscape': displayMode != 'Portrait'}" no-padding>
            <div class="card1">   
                <div class="rowForLandscape" wrap>
                    <div class="column cursorPointer" *ngFor="let product of products; let i=index">
                         <div class="cardForPortrait">
                            <div class="row" > 
                                <div class="columnForGrid50 col100 relative" (click)="onClickImage(product.URL)">
                                    <div class="imgBox center" >
                                        <img imageDirective class="center" [src]="product.ImageURL"/>
                                    </div>
                                </div>
                                <div class="columnForGrid50 padding ">
                                    <ion-card-content class="margin10 relative" >
                                        <div class="row rowForLandscape" style="text-align: center;">
                                            <div text-capitalize class="font16 fontWidth name cartTitle center" >
                                                <span (click)="onClickImage(product.URL)"> {{product.Name}} </span>
                                            </div>    
                                        </div>
                                        <div  *ngIf="displayMode == 'Portrait'">
                                            <ion-row class="border">
                                                <ion-col col-4 no-padding>
                                                    <button no-margin color="gray" float-left class="radiusLeft"  ion-button icon-only (click)="remove(product)">
                                                            <ion-icon name="remove" color="light"></ion-icon>
                                                    </button>
                                                </ion-col>
                                                <ion-col col-4 no-padding>
                                                    <!--<span class="qty">  {{product['qty']}}  </span>-->
                                                    <ion-input type="tel" select-all (keypress)="preventText($event)" autoCorrect=false class="qty inputQty" [(ngModel)]="product['qty']" (blur)="onBlurMethod($event,product)"></ion-input>
                                                </ion-col>
                                                <ion-col col-4 no-padding>
                                                    <button no-margin  color="gray" class="radiusRight" float-right ion-button icon-only (click)="add(product)">
                                                            <ion-icon name="add" color="light"></ion-icon>
                                                    </button>
                                                </ion-col>
                                            </ion-row>
                                        </div>
                                    </ion-card-content>
                                </div>  
                                <div class="row marginAuto">
                                    <div class="columnForGrid50 no-padding-top" padding *ngIf="displayMode != 'Portrait'">
                                         <ion-row class="border">
                                            <ion-col col-4 no-padding>
                                                <button no-margin float-left color="gray" class="radiusLeft"  ion-button icon-only (click)="remove(product)" >
                                                        <ion-icon name="remove" color="light" ></ion-icon>
                                                </button>
                                            </ion-col>
                                            <ion-col col-4 no-padding>
                                                <!--<span class="qty">  {{product['qty']}}  </span>-->
                                                <ion-input type="tel" select-all autoCorrect=false class="qty inputQty" [(ngModel)]="product['qty']" (keypress)="preventText($event)" (blur)="onBlurMethod($event,product)">
                                                </ion-input>
                                            </ion-col>
                                            <ion-col col-4 no-padding>
                                                <button no-margin  color="gray" class="radiusRight" float-right ion-button icon-only (click)="add(product)">
                                                        <ion-icon name="add" color="light" ></ion-icon>
                                                </button>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </ion-grid>

        <ion-fab bottom right edge class="fab-up" (click)="scrollTop()">
            <button ion-fab mini><ion-icon name="arrow-dropup"></ion-icon></button>
        </ion-fab>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-grid padding-top>    
            <ion-row *ngIf="!isManualLogin">
                <ion-col col-6>
                    <button class="no-margin radius" ion-button full margin-top color="red" (click)="submitProductByScan()">{{sub}}</button>
                </ion-col>
                <ion-col col-6>
                    <button class="no-margin radius" ion-button full margin-top  (click)="addProductByBarcode()">Scan</button>
                </ion-col>
            </ion-row>
            <!--            <ion-row *ngIf="(isManualLogin && products && products.length && myInputEnable)">
                            <ion-col>
                                <button class="no-margin radius" ion-button full margin-top color='gray' (click)="addItemByBarcode()">Scan</button>
                            </ion-col>
                        </ion-row>-->
            <ion-row *ngIf="(isManualLogin && products && products.length)">
                <ion-col col-6>
                    <button class="no-margin radius" ion-button full margin-top color='red' (click)="submitProduct()">{{sub}}</button>
                </ion-col>
                <ion-col col-6>
                    <button class="no-margin radius" ion-button full margin-top  (click)="addItemByBarcode()">Scan</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-content>
