<ion-menu  [content]="content" persistent=false>
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngIf='menuDisplay'>
            <ion-item menuClose *ngIf="exportErr">Export Data Pending
                      <!--                      <ion-spinner name="bubbles" float-right  *ngIf="spin"></ion-spinner>-->
        </ion-item>
        <!-- <ion-item (click)="importData()">Import Data</ion-item> -->
        <ion-item menuClose *ngIf="_consignmentService.checkLoginBy()=='manual'" (click)="gotoChangePassword()">Change Password</ion-item>
        <ion-item *ngIf="checkLoginBy()">
            <ion-label>Gallery View</ion-label>
            <ion-toggle [(ngModel)]="landscape" (ngModelChange)="setDisplayMode(landscape)"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="checkLoginBy()">
            <ion-label>Laser Scanner Enable</ion-label>
            <ion-toggle [(ngModel)]="laserScan" (ngModelChange)="setScan(laserScan)"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="checkLoginBy()">
                  <ion-label>Use Default Browser</ion-label>
            <ion-toggle  [color]="dark" [(ngModel)]="browser" (ngModelChange)="setBrowser(browser)"></ion-toggle>
        </ion-item>
        <ion-item menuClose (click)="logout()">Logout</ion-item>
    </ion-list>
</ion-content>
</ion-menu>
<ion-nav  #content [root]="rootPage"></ion-nav>