.green{
    color:green;
}
.img1 {
    width: 70px !important;
    height: 70px !important;
}
.always-modalSuccess .modal-wrapper{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: unset !important;
    top: unset !important;
    .ion-page{
        margin:0 auto;
        position: relative;
        top: 30%;
        width: 85%;
        height: 20%
    }
}
page-popup{
    .itemCss{
        color:#ffffff;
        background:#2530b7;
    }
    .content1{
        background:#2530b7;
        color:white;
    }
    ion-label h2{
        text-overflow: ellipsis;
        font-weight: normal;
        overflow: hidden;
    }
}
.label{
    margin: 13px 0px 13px 0;
}